*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
/* font-family: 'Roboto', sans-serif; */
header{
    background: #FDF8EE;
    padding: 20px 0;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

.logo img{
    width: 80px;
    height: 80px;
}
.outerdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links a{
    color: #1D1D1D;
/* font-family: Roboto; */
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
margin-right: 45px;
display: inline-block;
}

.btn_green
{
margin-left: 15px;
font-size: 25px;
line-height: 1;
font-weight: 500;
color: #fff;
border:  1px solid transparent;
background-color: #4D2C5E;
border-radius: 218px;
padding: 18px 57px;
/* padding: 18px 57px 18px 57px; top ,right , bottom , left */
/* padding: 10px 59px; top & bottom , left & right */
/* padding: 18px 57px 18px; top , left & right , bottom */
cursor: pointer;
transition: all 0.3s ease;
}


.banner{
    background: #FDF8EE;
    padding-top: 146px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between
} 
.left_text{
    max-width: 40%;
}
.rightImg{
    max-width: 60%;
}
.left_text h2{
    color: #050C26;
font-size: 69px;
font-style: normal;
font-weight: 800;
line-height: 135%; /* 93.15px */
font-family: 'Roboto', sans-serif;
}

.left_text h2 span{
    color: #FF7426;
}

.left_text p{
    color: #8A8A8A;
    font-family: 'Roboto', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 171%; /* 34.2px */
padding-right: 70px;
}
.banner_2 .flex{
    justify-content: center;
}
.leftimage{
    margin-right: 146px;
}
.point {
    display: flex;
    align-items: center;
}
.point h4{
    color: #050C26;
    font-family: 'Roboto', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 51.3px */
}
.point p{
    color: #8A8A8A;
    font-family: 'Roboto', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 1; /* 44.46px */
}
/* 
What are Pseudo-classes?
A pseudo-class is used to define a special state of an element.

For example, it can be used to:

Style an element when a user mouses over it
Style visited and unvisited links differently
Style an element when it gets focus */

/* link https://www.w3schools.com/css/css_pseudo_classes.asp */
.btn_green:hover{
    border: 1px solid #4D2C5E;
    background-color: #fff;
    color: #4D2C5E;
} 
.pr-0{
    padding-right: 0 !important;
}

.banner_2 .left_text{
 max-width: 45%;   
}
.point{
    margin-bottom: 34px;
}
.point figure{
    margin-right: 23px;
}
.banner_2 .left_text h2{
    margin-bottom: 43px;
}
.banner_2{
    padding: 63px 0;
    background-color: #FDF8EE;
}

/* .justify-content-center{
    justify-content: center !important;
} */

.Another_Text{
    color: #06185a;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 167.5%; /* 67px */
    letter-spacing: 0.8px;
    text-transform: capitalize;
}
.Footer_text{
    color: #606060;
    text-align: justify;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 163.158% */
}

.Footer{
    width: 1920px;
    height: 411px;
    flex-shrink: 0;
}

.side_text_footer{
    color: #606060;
    text-align: justify;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 163.158% */
    width: 1920px

}